// Grays
$white: #ffffff;
$black: #0e0e0f;
$lightGray: #dddddd;
$gray: #bbbfc1;
$darkGray: #7f7f7f;
$tableGray: #E6EFF3;


// Colours
$red: #a42826;
$darkRed: #811715;
$lightRed: #d73c39;


// Designations
$bgColour: #ebebeb;
$bgColour: #f1f2f7;
$bgColourDark: $darkGray;

$primaryColour: $red;
$primaryColourDark: $darkRed;
$primaryColourLight: $lightRed;

$secondaryColour: $red;
$secondaryColourDark: $darkRed;
$secondaryColourLight: $lightRed;

$inputColour: $black;


// Proportions
$radius: 6px;

$desktopMargin: 60px;
$tabletMargin: 40px;
$mobileMargin: 20px;
$padding: 20px;

$templateWidth: 1640px;
$templateBreak: 1760px;
$contentWidth: 1360px;

$headerHeight: 260px;

// 1480 - start gittin' smaller


// Fonts
$lowerFont: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$iconFont: 'schooltool';

// Font-weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
