.btn{
    font-family: $lowerFont;
    font-size: .8rem;
    line-height: 1.1em;
    color: $white;
    text-decoration: none;

    padding: .6rem .65rem;
    display: inline-block;
	border-radius: 6px;
    outline: none;
	background: $red;
	-webkit-box-shadow:  0px 1px 3px -1px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.4);
			box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.4);
	@include transition();
}

.link{
    text-decoration: underline;
    margin-top: .7rem;
    display: table;
}


