$formFontSize: 15px;

// ===================================================
// --------- Change chrome autofill styling
// ===================================================
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px $white inset !important;
    font-family: $lowerFont;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px $white inset !important;
    font-family: $lowerFont;
}



// ===================================================
// --------- Global form styling
// ===================================================

.formField{
    display: block;
    margin: 10px 0;

    [class^='w-'],
    [class*='w-'] {
        margin: 0 10px;
    }
}

label{
    // text-transform: uppercase;
    font-weight: $bold !important;
    line-height: 34px !important;
    color: $black !important;
}


input[type=text],
input[type=email],
input[type=number],
input[type=datetime-local],
select,
textarea{
	font-size: $formFontSize;
	height: 34px;
	line-height: 26px;
	padding: 4px 6px;
	box-sizing: border-box;

    font-family: $lowerFont;
    font-weight: $normal;
    color: $black;
    border: 1px solid $lightGray;
    background-color: $white;

    @include placeholder(){
        color: $gray;
		font-size: $formFontSize;
    }

    &:focus,
    &:active{
		border: 1px solid $black !important;
    }
}


textarea{
    min-height: 100px;
}


.checkbox{
    display: inline-block;

    input{
        position: relative;
        top: 10px;
        vertical-align: top;
        margin-right: 4px;
    }

    label{
        text-transform: none;
        font-weight: $normal !important;
    }

    & + .checkbox{
        margin-left: .5rem;
    }
}

form{
    h2{
        margin-top: 4rem !important;
        text-transform: uppercase;
        position: relative;
        padding-left: 1.5rem;

        &::before{
            content: '';
            display: block;
            background-color: $black;
            height: 1rem;
            width: 1rem;

            position: absolute;
            left: 0;
            top: 2px;
        }

        &::after{
            content: '';
            display: block;
            background-color: $black;
            height: 1rem;
            width: 1rem;

            position: absolute;
            top: -1rem;
            left: 1.1rem;
        }
    }

    h2:first-of-type{
        margin-top: 2rem !important;
    }
}